{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Edit {{ project_object.name }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ project_form.as_p }}
                <button>Submit</button>
            </form>
        </div>
    </main>
{% endblock content %}
