{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>{{ task_list.name }}</h1>
            <p>
                {{ task_list.description }}
                <a href="{% url "edit_project" task_list.id %}">
                    <button>Edit Project</button>
                </a>
            </p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url "create_task" %}">
                    <button>Create a new task</button>
                </a>
            </p>
            {% if not task_list.tasks.all|length %}
                <p>This project has no tasks</p>
            {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for task in task_list.tasks.all %}
                        <tr>
                            <td>
                                <a href="{% url "edit_task" task.id %}">{{ task.name }}</a>
                            </td>
                            <td>{{ task.assignee }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
